* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol, li{
    list-style: none;
}
body {
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 1fr 90px;
    background: linear-gradient(0deg, rgba(28,0,40,1) 0%, rgba(128,0,180,1) 35%, rgba(30,0,42,1) 90%);
}
header{
    display: grid;
    height: 100px;
    grid-template-columns: 50px 70px 70px;
    padding-left: 75px;
    align-items: center;
}
main{
    display: grid;
}
footer{
    display: grid;
    padding-right: 75px;
    padding-left: 75px;
    grid-auto-flow: column;
    align-items: center;
}
span{
    display: grid;
    justify-self: center;
    color: #FFFFFF;
}
.mapa{
    display: grid;
    justify-self: end;
}